<div class="container col-xs-12">
  <div class="row">

  </div>
  <div class="card">
    <img src="https://randomuser.me/api/portraits/men/10.jpg" class="img-responsive card-img" alt="{{user.name}}">

    <div class="user-details">
      <label for="name" class="text-fields">Name:</label>
      <p class="text-fields">{{user.name}}</p>
    </div>
    <input type="text" class="form-control" *ngIf="showFields" [(ngModel)]="user.name">

    <div class="user-details">
      <label for="name" class="text-fields">Email:</label>
      <p class="text-fields">{{user.email}}</p>
    </div>
    <input type="text" class="form-control" *ngIf="showFields" [(ngModel)]="user.email">

    <div class="user-details">
      <label for="name" class="text-fields">Phone Number:</label>
      <p class="text-fields">{{user.phoneNumber}}</p>
    </div>
    <input type="text" class="form-control" *ngIf="showFields" [(ngModel)]="user.phoneNumber">

    <div class="user-details">
      <label for="name" class="text-fields">Age</label>
      <p class="text-fields">{{user.age}} years</p>
    </div>
    <input type="text" class="form-control" *ngIf="showFields" [(ngModel)]="user.age">

    <button class="btn btn-primary btn-spacing " (click)="editUser()">Edit</button>
    <button class="btn btn-success btn-spacing " (click)="updateUser()">Update</button>
  </div>
</div>